body {
    background-color: #FFF6E8;
    margin: 0;
}
html{
    padding: 0;
    margin: 0;
}
.left {
    width: 50px;
}

.login img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#topBar{
    height:10vh;
    width: 100vw;
    background-color: bisque;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.login{
    height: 50px;
    margin: auto 0;
    position: relative;
    right: 50px;
}

#webName{
    display: inline-block;
    font-size: 35px;
}

h1 {
    margin: auto 0;
}
/* #userLogo{
    display: inline-block;
    width: 70px;
    right: 100px;
} */

#pacManIcon {
    left: 100px;
    top: 150px;
    width: 100px;
}

#csButton1Icon{
    left: 50px;
    top: 450px;
}

#csButton2Icon{
    left: 400px;
    bottom: 60px;
}


#csButton3Icon{
    right: 390px;
    bottom: 55px;
}

#csButton4Icon{
    right: 100px;
    top: 230px;
}

#ghost1Icon{
    right: 160px;
    bottom: 140px;
}

#ghost2Icon{
    left: 160px;
    bottom: 80px;
}

#msNote1Icon{
    left: 220px;
    top: 310px;
}

#msNote2Icon{
    right: 190px;
    top: 380px;
}

#rightArrowIcon{
    top: 47vh;
    left: 70vw;
}

#leftArrowIcon{
    top: 47vh;
    right: 70vw;
}

.button{
    position: absolute;
    width: 110px;
    user-select: none;
}

.icon{
    width: 70px;
    position: absolute;
    user-select: none;
}

.button:hover{
    animation: shake 10s;
    animation-iteration-count: infinite;
}

button:active{
    width:200px;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    5% { transform: translate(0px, 0px) rotate(-1deg); }
    10% { transform: translate(-1px, -1px) rotate(-1deg); }
    15% { transform: translate(0px, -1px) rotate(0deg); }
    20% { transform: translate(-1px, 0px) rotate(1deg); }
    25% { transform: translate(1px, 0px) rotate(-1deg); }
    30% { transform: translate(1px, 1px) rotate(0deg); }
    35% { transform: translate(1px, 1px) rotate(0deg); }
    40% { transform: translate(0px, -1px) rotate(1deg); }
    45% { transform: translate(0px, 0px) rotate(1deg); }
    50% { transform: translate(-1px, 1px) rotate(-1deg); }
    55% { transform: translate(-1px, 1px) rotate(-1deg); }
    60% { transform: translate(-1px, 0px) rotate(0deg); }
    65% { transform: translate(-1px, 0px) rotate(1deg); }
    70% { transform: translate(1px, 1px) rotate(-1deg); }
    75% { transform: translate(0px, 1px) rotate(1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    85% { transform: translate(0px, 1px) rotate(1deg); }
    90% { transform: translate(-1px, 0px) rotate(-1deg); }
    95% { transform: translate(0px, 1px) rotate(0deg); }
    100% { transform: translate(1px, -1px) rotate(1deg); }
}

