body {
    display: flex;
    flex-direction: column;
    user-select: none;
}
.main {
    margin: 0 auto;
    background-color: #FFF6E8;
    padding: 20px;
}
canvas {
    background-color: #bbada0;
    border-color: #bbada0;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

#score {
    background-color: #bbada0;
    margin: 0;
    color: #FFF6E8;
    border-radius: 10px;
    font-family: 'tahoma';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

#back, #reset {
    background-color: #eb995d;
    color: #FFF6E8;
    border: none;
    height: 50px;
    border-radius: 10px;
    font-family: 'tahoma';
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    opacity: 0.9;
}

#back:hover, #reset:hover {
    cursor: pointer;
    opacity: 1.0;
}

#back:focus {
    border: none;
    outline: none;
}
.column {
    display: flex;
    flex-direction: column;
}

#banner {
    width: 100px;
    line-height: 110px;
    margin: 0px;
    color: #FFF6E8;
    background-color: #edc501;
    text-align: center;
    border: none;
    border-radius: 10px;
    font-family: 'tahoma';
    font-size: 30px;
    font-weight: bold;
}

#result {
    color: #eb995d;
    font-family: 'tahoma';
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 0;
}