body {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: tahoma;
    transition: 1s;

    .container {

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: #ebcfbf;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
    
            a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #707974;
                display: block;
                transition: 0.3s;
                font-family: 'Maven Pro', sans-serif;
    
                &:hover {
                    color: #fff;
                }
            }
    
            .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
                color: #c3ab9b;
            }
        }

        .options {
            position: absolute;
            right: 20px;
            display: flex;

            .muteBtn {
                width: 45px;
                cursor: pointer;
                opacity: 0.9;
                margin-right: 10px;
                &:hover {
                    opacity: 1;
                }
            }

            .nav-open {
                font-size: 50px;
                cursor: pointer;
                color: #ab8370;
                opacity: 0.9;
                text-shadow: 3px 3px #a6a6a6;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .title {
            margin: 20px 0 0;
            font-family: 'Bungee Shade', cursive;
            text-align: center;
            font-size: 70px;
            color: #707974;
            line-height: 1;
            z-index: 999;
        }

        .slideshow {
            position: relative;
            transition: 2s;
            top: 60px;

            .gallery {
                width: 100%;

                .gallery-container {
                    align-items: center;
                    display: flex;
                    height: 400px;
                    margin: 70px auto;
                    width: 1000px;
                    position: relative;

                    .gallery-item {
                        height: 200px;
                        opacity: 0;
                        position: absolute;
                        transition: all 0.3s ease-in-out;
                        width: 266px;
                        z-index: 0;
                        border-radius: 30px;
                        box-shadow: 3px 3px #a6a6a6;

                        &.gallery-item-1 {
                            left: 15%;
                            opacity: .4;
                            transform: translateX(-50%);
                        }

                        &.gallery-item-2, &.gallery-item-4 {
                            height: 300px;
                            opacity: 1;
                            width: 400px;
                            z-index: 1;
                        }

                        &.gallery-item-2 {
                            left: 30%;
                            transform: translateX(-50%);
                        }

                        &.gallery-item-3 {
                            //box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
                            height: 400px;
                            opacity: 1;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 533px;
                            z-index: 2;
                            cursor: pointer;
                        }

                        &.gallery-item-4 {
                            left: 70%;
                            transform: translateX(-50%);
                        }

                        &.gallery-item-5 {
                            left: 85%;
                            opacity: .4;
                            transform: translateX(-50%);
                        }
                    }
                }

                .gallery-controls {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    button {
                        background-color: transparent;
                        border: 0;
                        cursor: pointer;
                        font-size: 30px;
                        margin: 0 20px;
                        padding: 0 12px;
                        text-transform: capitalize;
                        color: #707974;
                        font-family: 'Maven Pro', sans-serif;
                        text-shadow: 1px 1px #a6a6a6;
                        &:focus {
                            outline: none;
                        }
                    }

                    .gallery-controls-previous {
                        position: relative;

                        &::before {
                            border: solid #707974;
                            border-width: 0 5px 5px 0;
                            content: '';
                            display: inline-block;
                            height: 18px;
                            left: -20px;
                            padding: 2px;
                            position: absolute;
                            top: 0;
                            transform: rotate(135deg) translateY(-50%);
                            transition: left 0.15s ease-in-out;
                            width: 18px;
                        }

                        &:hover::before {
                            left: -40px;
                        }
                    }

                    .gallery-controls-next {
                        position: relative;

                        &::before {
                            border: solid #707974;
                            border-width: 0 5px 5px 0;
                            content: '';
                            display: inline-block;
                            height: 18px;
                            padding: 2px;
                            position: absolute;
                            right: -20px;
                            top: 50%;
                            transform: rotate(-45deg) translateY(-50%);
                            transition: right 0.15s ease-in-out;
                            width: 18px;
                        }

                        &:hover::before {
                            right: -40px;
                        }
                    }
                }

                .gallery-nav {
                    bottom: -15px;
                    display: flex;
                    justify-content: center;
                    list-style: none;
                    padding: 0;
                    position: absolute;
                    width: 100%;

                    li {
                        background: #ccc;
                        border-radius: 50%;
                        height: 10px;
                        margin: 0 16px;
                        width: 10px;

                        &.gallery-item-selected {
                            background: #555;
                        }
                    }
                }
            }
        }
        
        .login-register {
            height: 0;
            #registerForm {
                position: relative;
                top: -700px;
                transition: 2s;
            }
            #loginForm {
                position: relative;
                top: -1200px;
                transition: 2s;
            }
            .form {
                max-width: 250px;
                margin: 30px auto 0;
                display: flex;
                flex-direction: column;
                border: 5px solid #707974;
                border-radius: 40px;
                padding: 0 10px 20px;
                background-image: linear-gradient(#fff 9%, #ffd0f1 9%);
    
                .form-header {
                    position: relative;
                    display: grid;
                    align-items: center;
                    grid-template-columns: 1fr 1fr 1fr 6fr 1fr 1fr 1fr;
                    margin: 10px auto 7px;
    
                    .dot {
                        height: 15px;
                        width: 15px;
                        background-color: #bbb;
                        border-radius: 50%;
                        margin: 0 2px;
    
                        &.dot-red {
                            background-color: #ff6d6d;
                            cursor: pointer;
                        }
    
                        &.dot-yellow {
                            background-color: #fffa8c;
                        }
    
                        &.dot-green {
                            background-color: #9ff7af;
                        }
                    }
    
                    h2 {
                        text-align: center;
                        margin: 0;
                        font-family: 'Maven Pro', sans-serif;
                        font-size: 15px;
                        color: #707974;
                    }
                }
    
                hr{
                    color: #707974;
                    height: 2px;
                    background-color: #707974;
                    border: 1px solid #707974;
                    margin: 0 -11px 10px;
                }
    
                .userLogo {
                    width: 100px;
                    margin: 10px auto;
                    position: relative;
    
                    .avtEdit {
                        border-radius: 50%;
                        width: 27px;
                        height: 27px;
                        padding: 0;
                        opacity: 0.8;
                        border: none;
                        color: #72767b;
                        box-shadow: 3px 3px #a6a6a6;
                        cursor: pointer;
                        position: absolute;
                        bottom: 10px;
                        right: 7px;
    
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
    
                .input {
                    display: inline-block;
                    background-color: #fdfdfd;
                    width: 70%;
                    margin: 5px auto 10px;
                    height: 20px;
                    border-radius: 20px;
                    border: none;
                    padding: 5px 10px;
                    box-shadow: 3px 5px #a6a6a6;
                    font-family: 'Maven Pro', sans-serif;
                    color: #707974;
                    font-weight: lighter;

                    &::placeholder {
                        color: #707974;
                        opacity: 0.8;
                    }
    
                    &:focus {
                        outline: none;
                        padding: 7px 12px;
                        margin: 3px auto 8px;
                    }
                }
    
                .label {
                    size: 12px;
                    font-family: 'Maven Pro', sans-serif;
                    font-weight: bold;
                    color: #707974;
                }
    
                .btn {
                    background: none;
                    background-image: url("../images/drawline.png");
                    background-size: cover;
                    border: none;
                    width: 55%;
                    padding: 10px 20px;
                    margin: 10px auto 0;
                    font-family: 'Bungee', cursive;
                    color: #707974;
                    opacity: 0.8;
                    cursor: pointer;
    
                    &:hover {
                        width: 60%;
                        opacity: 1;
                        padding: 12px 22px;
                        margin: 8px auto -2px;
                    }
                }
            }
        }
    }
}
