body {
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: tahoma, sans-serif;
    transition: 1s;
    user-select: none;
    .container {

        #mySidenav {
            height: 100%;
            width: 320px;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: #ffffff;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
            opacity: 1;
            margin-right:-320px;
            a {
                padding: 8px 8px 8px 62px;
                text-decoration: none;
                font-size: 25px;
                color: #707974;
                display: block;
                transition: 0.3s;
                font-family: 'Maven Pro', sans-serif;
    
                &:hover {
                    color: #fff;
                }
            }
    
            .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 43px;
                margin-left: 50px;
                color: #707974;
            }
            i {
                margin-right: 10px;
                width: 32px;
                height: 32px;
            }
        }

        .options {
            position: absolute;
            right: 20px;
            display: flex;
            margin-top: 30px;
            margin-right: 20px;
            align-items: center;
            .ranking{
                padding-bottom: 5px;
                font-size: 50px;
                cursor: pointer;
                color: #BDA392;
                opacity: 0.9;
                text-shadow: 3px 3px #a6a6a6;
                margin-right: 20px;
                &:hover {
                    opacity: 1;
                }
            }
            .muteBtn {
                width: 45px;
                cursor: pointer;
                opacity: 0.9;
                margin-right: 20px;
                &:hover {
                    opacity: 1;
                }
            }

            .profile {
                padding-bottom: 5px;
                font-size: 50px;
                cursor: pointer;
                color: #BDA392;
                opacity: 0.9;
                text-shadow: 3px 3px #a6a6a6;
                margin-right: 20px;
                &:hover {
                    opacity: 1;
                }
            }
            .option{
                padding-bottom: 5px;
                font-size: 45px;
                cursor: pointer;
                color: #BDA392;
                opacity: 0.9;
                text-shadow: 3px 3px #a6a6a6;
                margin-right: 10px;
                &:hover {
                    opacity: 1;
                }
                font-weight: lighter;
            }
        }

        .title {
            margin: 40px 500px 0;
            font-family: 'Bungee Shade', cursive;
            text-align: center;
            font-size: 70px;
            color: #707974;
            line-height: 1;
            z-index: 0;
            opacity: 1;
        }

        .slideshow {
            position: relative;
            transition: 2s;
            top: 60px;
            opacity: 1;
            .gallery {
                width: 100%;

                .gallery-container {
                    align-items: center;
                    display: flex;
                    height: 400px;
                    margin: 70px auto;
                    width: 1000px;
                    position: relative;

                    .gallery-item {
                        height: 200px;
                        opacity: 0;
                        position: absolute;
                        transition: all 0.3s ease-in-out;
                        width: 300px;
                        z-index: 0;
                        border-radius: 30px;
                        box-shadow: 3px 3px #a6a6a6;

                        &.gallery-item-1 {
                            left: 15%;
                            opacity: .4;
                            transform: translateX(-50%);
                        }

                        &.gallery-item-2, &.gallery-item-4 {
                            height: 300px;
                            opacity: 1;
                            width: 450px;
                            z-index: 1;
                        }

                        &.gallery-item-2 {
                            left: 30%;
                            transform: translateX(-50%);
                        }

                        &.gallery-item-3 {
                            //box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
                            height: 400px;
                            opacity: 1;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 600px;
                            z-index: 2;
                            cursor: pointer;
                        }

                        &.gallery-item-4 {
                            left: 70%;
                            transform: translateX(-50%);
                        }

                        &.gallery-item-5 {
                            left: 85%;
                            opacity: .4;
                            transform: translateX(-50%);
                        }
                    }
                }

                .gallery-controls {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    button {
                        background-color: transparent;
                        border: 0;
                        cursor: pointer;
                        font-size: 30px;
                        margin: 0 20px;
                        padding: 0 12px;
                        text-transform: capitalize;
                        color: #707974;
                        font-family: 'Maven Pro', sans-serif;
                        text-shadow: 1px 1px #a6a6a6;
                        &:focus {
                            outline: none;
                        }
                    }

                    .gallery-controls-previous {
                        position: relative;

                        &::before {
                            border: solid #707974;
                            border-width: 0 5px 5px 0;
                            content: '';
                            display: inline-block;
                            height: 18px;
                            left: -20px;
                            padding: 2px;
                            position: absolute;
                            top: 0;
                            transform: rotate(135deg) translateY(-50%);
                            transition: left 0.15s ease-in-out;
                            width: 18px;
                        }

                        &:hover::before {
                            left: -40px;
                        }
                    }

                    .gallery-controls-next {
                        position: relative;

                        &::before {
                            border: solid #707974;
                            border-width: 0 5px 5px 0;
                            content: '';
                            display: inline-block;
                            height: 18px;
                            padding: 2px;
                            position: absolute;
                            right: -20px;
                            top: 50%;
                            transform: rotate(-45deg) translateY(-50%);
                            transition: right 0.15s ease-in-out;
                            width: 18px;
                        }

                        &:hover::before {
                            right: -40px;
                        }
                    }
                }

                .gallery-nav {
                    bottom: -15px;
                    display: flex;
                    justify-content: center;
                    list-style: none;
                    padding: 0;
                    position: absolute;
                    width: 100%;

                    li {
                        background: #ccc;
                        border-radius: 50%;
                        height: 10px;
                        margin: 0 16px;
                        width: 10px;

                        &.gallery-item-selected {
                            background: #555;
                        }
                    }
                }
            }
        }
        #profileWindow{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 650px;
            height: 400px;
            background-image: linear-gradient(#fff 50px, #ffd0f1 1%);
            z-index: 9999;
            border-radius: 60px;
            border: 5px solid #707974;
            .profile-header{
                display: flex;
                align-items: center;
                height: 50px;
                width: 100%;
                h2 {
                    text-align: center;
                    font-family: 'Maven Pro', sans-serif;
                    font-size: 22px;
                    color: #707974;
                    margin-right : 150px;
                }
                .dot {
                    height: 15px;
                    width: 15px;
                    background-color: #bbb;
                    border-radius: 50%;
                    margin: 0 2px;
                    display: inline-block;
                    &.dot-red {
                        background-color: #FF6D6D;
                        cursor: pointer;
                        margin-left: 30px;
                    }

                    &.dot-yellow {
                        background-color: #fffa8c;
                    }

                    &.dot-green {
                        background-color: #9ff7af;
                        margin-right : 32%;
                    }
                }
            }
            hr{
                color: #707974;
                height: 1px;
                background-color: #707974;
                border: 2px solid #707974;
                margin-top: 0;
                margin-right: -5px;
                margin-left: -5px;
            }

            .profileBody {
                display: flex;
                height: 80%;
                align-items: center;
                justify-content: space-around;
                padding-right: 20px;

                .logo-name {
                    flex-grow: 1;

                    .userLogo {
                        width: 120px;
                        margin: 10px auto;
                        position: relative;
                        margin: 0 auto;
        
                        .avtEdit {
                            border-radius: 50%;
                            width: 27px;
                            height: 27px;
                            padding: 0;
                            opacity: 0.8;
                            border: none;
                            color: #72767b;
                            box-shadow: 3px 3px #a6a6a6;
                            cursor: pointer;
                            position: absolute;
                            bottom: 10px;
                            right: 7px;
        
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }

                    h3 {
                        text-align: center;
                        font-family: 'Maven Pro', sans-serif;
                        font-size: 22px;
                        color: #707974;
                        margin: 0;

                        i {
                            cursor: pointer;
                            opacity: 0.8;

                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }

                .profileInfo {
                    flex-grow: 3;

                    h3 {
                        text-align: center;
                        color: #ffffff;
                        text-shadow: 3px 3px #a6a6a6;
                        font-size: 36px;
                        margin: 0;
                        font-family: 'anothershabby';
                    }

                    .recordTable {
                        width: 100%;
                        height: 230px;
                        background: url("../images/profile_line.png");
                        background-size: cover;

                        thead {
                            tr {
                                th {
                                    font-family: 'Permanent Marker', cursive;
                                    color: #ffffff;
                                    text-shadow: 3px 3px #a6a6a6;
                                    font-size: 30px;
                                }
                            }
                        }

                        tbody {
                            tr {
                                td {
                                    color: #707974;
                                    font-family: 'Permanent Marker', cursive;
                                    width: 33%;
                                    text-shadow: 1px 1px #a6a6a6;
                                    font-size: 22px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
        #rankWindow {
            width: 650px;
            height: 400px;
            background-image: linear-gradient(#fff 50px, #ffd0f1 1%);
            z-index: 9999;
            border-radius: 60px;
            border: 5px solid #707974;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .rank-header{
                display: flex;
                align-items: center;
                height: 50px;
                width: 100%;
                h2 {
                    text-align: center;
                    font-family: 'Maven Pro', sans-serif;
                    font-size: 22px;
                    color: #707974;
                    margin-right : 150px;
                }
                .dot {
                    height: 15px;
                    width: 15px;
                    background-color: #bbb;
                    border-radius: 50%;
                    margin: 0 2px;
                    display: inline-block;
                    &.dot-red {
                        background-color: #FF6D6D;
                        cursor: pointer;
                        margin-left: 30px;
                    }

                    &.dot-yellow {
                        background-color: #fffa8c;
                    }

                    &.dot-green {
                        background-color: #9ff7af;
                        margin-right : 32%;
                    }
                }
            }
            hr{
                color: #707974;
                height: 1px;
                background-color: #707974;
                border: 2px solid #707974;
                margin-top: 0;
                margin-right: -5px;
                margin-left: -5px;
            }

            .rankInfo {
                padding: 0 20px;

                .tab {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .tab-link {
                        background: none;
                        border: none;
                        text-align: center;
                        color: #707974;
                        text-shadow: 3px 3px #a6a6a6;
                        font-size: 24px;
                        margin: 0;
                        font-family: 'Permanent Marker', cursive;
                        cursor: pointer;

                        &:hover {
                            font-size: 32px;
                        }
                        &.active {
                            font-size: 36px;
                            color: #fff;
                            position: relative;
                            top: -5px;
                        }
                    }
                }

                .rank-header {
                    display: grid;
                    grid-template-columns: 10% 25% 25% 15% 25%;
                    text-align: center;

                    h3 {
                        font-family: 'Permanent Marker', cursive;
                        color: #ffffff;
                        text-shadow: 3px 3px #a6a6a6;
                        font-size: 30px;
                        margin: 0;
                    }
                }

                .tab-content {
                    display: grid;
                    grid-template-columns: 10% 25% 25% 15% 25%;
                    text-align: center;
                    height: 200px;
                    overflow: auto;
                    &::-webkit-scrollbar-track
                    {
                        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                        background-color: #F5F5F5;
                    }

                    &::-webkit-scrollbar
                    {
                        width: 8px;
                        background-color: #F5F5F5;
                    }

                    &::-webkit-scrollbar-thumb
                    {
                        background-color: #555555;
                        border: 2px solid #555555;
                        border-radius:10px;
                    }

                    p {
                        color: #707974;
                        font-family: 'Permanent Marker', cursive;
                        text-shadow: 1px 1px #a6a6a6;
                        font-size: 22px;
                        text-align: center;
                    }
                    .rankAvatar img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                    }
                .rankAvatar{
                    width:  60px;
                    box-sizing: border-box;
                }
                    
                    
                }

                // .rankTable {
                //     width: 100%;
                //     height: 230px;
                //     background: url("../images/rank_line.png");
                //     background-size: cover;

                    // thead {
                    //     tr {
                    //         th {
                    //             font-family: 'anothershabby';
                    //             color: #ffffff;
                    //             text-shadow: 3px 3px #a6a6a6;
                    //             font-size: 27px;
                    //         }
                    //     }
                    // }

                    // tbody {
                    //     tr {
                    //         td {
                    //             color: #707974;
                    //             text-shadow: 1px 1px #a6a6a6;
                    //             font-size: 22px;
                    //             text-align: center;
                    //         }
                    //     }
                    // }
                // }
            }
        }
        .login-register {
            height: 0;
            opacity: 1;
            transition: 1s;
            #registerForm {
                position: relative;
                top: -700px;
                transition: 2s;
            }
            #loginForm {
                position: relative;
                top: -1200px;
                transition: 2s;
            }
            .form {
                max-width: 250px;
                margin: 30px auto 0;
                display: flex;
                flex-direction: column;
                border: 5px solid #707974;
                border-radius: 40px;
                padding: 0 10px 20px;
                background-image: linear-gradient(#fff 35px, #ffd0f1 1%);
    
                .form-header {
                    position: relative;
                    display: grid;
                    align-items: center;
                    grid-template-columns: 1fr 1fr 1fr 6fr 1fr 1fr 1fr;
                    margin: 10px auto 7px;
    
                    .dot {
                        height: 15px;
                        width: 15px;
                        background-color: #bbb;
                        border-radius: 50%;
                        margin: 0 2px;
    
                        &.dot-red {
                            background-color: #FF6D6D;
                            cursor: pointer;
                        }
    
                        &.dot-yellow {
                            background-color: #fffa8c;
                        }
    
                        &.dot-green {
                            background-color: #9ff7af;
                        }
                    }
    
                    h2 {
                        text-align: center;
                        margin: 0;
                        font-family: 'Maven Pro', sans-serif;
                        font-size: 15px;
                        color: #707974;
                    }
                }
    
                hr{
                    color: #707974;
                    height: 2px;
                    background-color: #707974;
                    border: 1px solid #707974;
                    margin-top: 0;
                    margin-right: -10px;
                    margin-left: -10px;
                    //margin: 0 -11px 10px;
                }
    
                .userLogo {
                    width: 100px;
                    margin: 10px auto;
                    position: relative;
    
                    .avtEdit {
                        border-radius: 50%;
                        width: 27px;
                        height: 27px;
                        padding: 0;
                        opacity: 0.8;
                        border: none;
                        color: #72767b;
                        box-shadow: 3px 3px #a6a6a6;
                        cursor: pointer;
                        position: absolute;
                        bottom: 10px;
                        right: 7px;
    
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
                .chillLogo  {
                    width: 150px;
                    margin:30px auto 30px auto;
                }
                .input {
                    display: inline-block;
                    background-color: #fdfdfd;
                    width: 60%;
                    height: 20px;
                    border-radius: 20px;
                    border: none;
                    padding: 5px 10px;
                    box-shadow: 3px 5px #a6a6a6;
                    font-family: 'Maven Pro', sans-serif;
                    color: #707974;
                    font-weight: lighter;
                    margin: 5px auto 15px;

                    &::placeholder {
                        color: #707974;
                        opacity: 0.8;
                    }
    
                    &:focus {
                        outline: none;
                        padding: 7px 12px;
                        margin: 5px auto 11px;
                    }
                }
    
                .label {
                    size: 12px;
                    font-family: 'Maven Pro', sans-serif;
                    font-weight: bold;
                    color: #707974;
                    padding-left: 15px;
                }
    
                .btn {
                    background: none;
                    background-image: url('../images/drawline.png');
                    background-size: cover;
                    border: none;
                    width: 55%;
                    padding: 10px 20px;
                    font-family: 'Bungee', cursive;
                    color: #707974;
                    opacity: 0.8;
                    cursor: pointer;
                    margin: 10px auto 20px;

                    &:hover {
                        width: 60%;
                        opacity: 1;
                        padding: 12px 22px;
                        margin: 10px auto 16px;
                    }
                }
            }
        }
        .game {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .flappyBird {
            visibility: hidden;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .g2048{
            visibility: hidden;
        }

        .snake{
            visibility: hidden;
        }

        #avt {
            .avt {
                height: 100px;
                cursor: pointer;
                margin:20px 20px;
            }
            #gridAvt{
                padding: 20px;
                display: none;
                grid-template-columns: 25% 25% 25% 25%;
                grid-row-gap: 0;
                position: absolute;
                z-index: 99999;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: white;
                border-radius: 50px;
                button{
                    border: none;
                    background-color: white;
                }
            }

        }
        #nameBox{
            position: absolute;
            box-sizing: border-box;
            z-index: 99999;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            background-color: white;
            width: 300px;
            height: 130px;
            border-radius: 30px;
            color: #707974;
            font-family: 'Maven Pro', sans-serif;
            padding: 20px;
            #btnCloseEditName{
                position: absolute;
                top: 10%;
                right: 8%;
            }
            #newName{
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                height: 25px;
                border: 2px solid #707974;
            }
            input{
                font-family: 'Maven Pro', sans-serif;
                color: #707974;
                padding-left: 10px;
            }
            #newName:focus{
                border: 2px solid #707974;
            }
            #submitBtn{
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                height: 30px;
                background-color: #707974;
                font-family: 'Maven Pro', sans-serif;
                color: white;
                border: none;
                width: 60px;
            }
        }
    }
}
