@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&family=Maven+Pro:wght@700&display=swap');

@font-face {
    font-family: "anothershabby";
    src:url('../fonts/Anothershabby_trial.ttf') format('truetype'),
    url('../fonts/Anothershabby_trial.eot') format('embedded-opentype'),
    url('../fonts/Anothershabby_trial.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

body {
    margin: 0px;
    height: 100vh;;
    display: flex;
    flex-direction: column;

    .container {
        padding: 0px 50px; 
        margin: 0px auto;

        @include laptopRes {
            padding: 0px 40px;
        }

        @include tabletRes {
            padding: 0px 30px;
        }

        @include phoneRes {
            padding: 0px 20px;
        }
    }
}

