@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
body {
    height: fit-content;
    font-family: "Maven Pro", sans-serif;
    user-select: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#gamezone {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    /*background-color: #FFF6E8;*/
    max-width: 1024px;
    margin: 0 auto;
    border: 4px solid #808080
}

#score {
    font-family: "Maven Pro", sans-serif;
    color: #5c5c5c;
    font-size:30px;
    font-weight: bold;
    margin: 0 auto;
    position: relative;
    top: 10px;
    z-index: 10;
}
/*{box-sizing: border-box;}*/

/* The popup form - hidden by default */
.form-popup {
    display: none;
    margin: 0 auto;
    position: relative;
    height: 0;
    bottom: 500px;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    width: 300px;
    height: 260px;
    padding: 10px;
    background-image: url(../images/menubg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 140px;
    margin: 0 auto 20px;
    opacity: 0.8;

}
h1 {
    text-align: center;
    font-family: "Maven Pro", sans-serif;
    color: #5c5c5c;
    font-weight:bold;
    margin: 0;
    margin-bottom: 20px;
}

.header {
    height: 0;
    margin: 0 auto;
}
/* Add a red background color to the cancel button */
.form-container .restart {
    background-color: rgb(185, 185, 185);
    margin-top: 40px;
    font-size: 20px;
    font-family: "Maven Pro", sans-serif;
    border-radius: 20px;
    font-weight: bold;
}

/* Add some hover effects to buttons */
.form-container .btn:hover {
    opacity: 1;
}